{% extends 'base.html' %}

{% block head %}
    <title>Register</title>
{% endblock %}


{% block body %}

    <div class="window">
        <div class="main-login">
            
            <h2 class="register">Register</h2>
            <!-- may need to add action -->
            <form  method="post" action="">
                {{ form.hidden_tag() }}
                {{ form.username }}
                {{ form.password }}
                {{ form.submit }}
            </form>
            <a href="{{ url_for('userLogin') }}" class="text">Login</a>
        </div>
    </div>
    
{% endblock %}